// Specific CSS for your home-page
.wrapper{
  justify-content: center;
  display: flex;
}

#video_box{
  position:relative;
}
#video_overlays {
  position:absolute;
  width:120px;
  height:85px;
  background-image: url("https://res.cloudinary.com/dth8lnhas/image/upload/v1664463381/whiteboard_w9hkar.webp");
  background-size: 120px 85px;
  overflow-wrap: break-word;
  z-index:300000;
  top:75px;
  left:25px;
  text-align:center;
  font-family: 'Permanent Marker', cursive;

}
