<div class="flex-wrap content-start" style="width:40%">

<%# <div class="flex-wrapper" style="display: flex; justify-content: center"> %>
    <div class="box orange scroll-container overflow-auto" style="width: 100%; margin: 20px 20px;">
      <div style="display:flex; justify-content:space-between; margin: 10px 20px">
        <h3>Backgrounds</h3>
            <%=link_to new_user_background_path(@user, @background) do %>
                <div class="flex justify-center items-center w-10 h-10 rounded-full bg-black">
                  <i class="fa-solid fa-plus text-white"></i>
                </div>
            <% end %>
      </div>

      <div class="flex flex-wrap content-start overflow-auto scroll-container" style="justify-content:space-between">
            <% @backgrounds.each do |background| %>
            <%= link_to user_background_path(@user, background) do %>
              <div class="flex" style="flex-direction:column">
                <div>
                  <% if background.photo.attached? %>
                      <%= cl_image_tag background.photo.key, height: 120, width: 213, crop: :fill, class: "d-block rounded-lg" %>
                  <% else %>
                    <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" style="height:120px;width:213px" alt="...">
                  <% end %>
                </div>
              <div>
                  <p style="padding:10px 0px;text-decoration: none" ><%= background.title.capitalize %></p>
              </div>
            </div>
            <% end %>
            <% end %>
      </div>



    </div>
<%# </div> %>
</div>
