<div class="modal fade" id=<%= "exampleModal#{background.id}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content flex flex-col justify-center items-center rounded-lg px-8 pt-8 pb-12">
      <div class="w-full">

      </div>

       <div class="flex" style="flex-direction:column">
                <div>
                  <% if background.photo.attached? %>
                      <%= cl_image_tag background.photo.key, height: 120, width: 213, crop: :fill, class: "d-block rounded-lg" %>
                  <% else %>
                    <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" style="height:120px;width:213px" alt="...">
                  <% end %>
                </div>

            </div>

      <div class="w-7/12 mt-3">
        <h5 class="text-center text-xl font-bold" id="exampleModalLabel"><%= background.title.capitalize %></h5>

      </div>
      <button type="button" class="bg-black px-5 py-2 text-white rounded-lg mt-3" data-bs-dismiss="modal">Edit</button>
      <%= link_to user_videos_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <p class="bg-black px-5 py-2 text-white rounded-lg mt-3">Delete</p>
      <% end %>
    </div>
  </div>
</div>
