<div style="display:flex; justify-content:space-between; margin: 10px 20px">
      <%= link_to user_path(@user) do %>
            <div class="flex items-center gap-3">
              <i class="fa-solid fa-chevron-left"></i>
              <h2 class="text-xl font-bold">Terminal</h2>
            </div>
          <% end %>
            <div class="flex justify-center items-center">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                  <%= link_to user_videos_path(@user, @videos) do %>
                    <li class="nav-item" role="presentation">
                      <button class="btn orange" id="pills-video-tab" data-bs-toggle="pill" data-bs-target="#pills-video" type="button" role="tab" aria-controls="pills-video" aria-selected="true">My videos</button>
                    </li>
                  <% end %>
                  <%= link_to user_backgrounds_path(@user, @backgrounds) do %>
                    <li class="nav-item" role="presentation">
                      <button class="btn orange" id="pills-project-tab" data-bs-toggle="pill" data-bs-target="#pills-project" type="button" role="tab" aria-controls="pills-project" aria-selected="false">My backgrounds</button>
                    </li>
                  <% end %>
                    <li class="nav-item" role="presentation">
                      <button class="btn orange" id="pills-project-tab" data-bs-toggle="pill" data-bs-target="#pills-project" type="button" role="tab" aria-controls="pills-project" aria-selected="false">New project</button>
                    </li>
                </ul>
            </div>
            <button>logout</button>
    </div>
