<div class="page-wrap">

    <%= render"videos/navbar" %>

  <div class="flex gap-5 center" style="width:600px%">
        <%= render "videos/cards", user: @user, videos: @user.videos %>
        <div class="flex-wrap content-start"style="width:40%">

  <%# <div class="flex-wrapper" style="display: flex; justify-content: center"> %>
      <div class="box red scroll-container overflow-auto" style="width: 100%; margin: 20px 20px;">
        <div style="display:flex; justify-content:space-between; margin: 10px 20px">
          <h3>Select video</h3>
        </div>




          </div>
  <%# </div> %>
        </div>

  </div>
</div>
