

      <%= link_to user_videos_path do %>
      <% end %>



  <%# <%= render "videos/form", video: @video %>



<div class="page-container pt-8">
  <div class="flex items-center justify-between mb-8">
    <div class="w-48">
    </div>
    <h2 class="text-xl font-bold">New Video</h2>
    <div class="w-48"></div>
  </div>
  <%= render "videos/form", video: @video %>
</div>
