<div class="page-wrap">
  <%= render"shared/terminalnav" %>


  <div class="flex gap-5 center" style="width:600px%">
        <%= render "videos/cards", user: @user, videos: @user.videos %>
        <%= render "videos/indivdetail", user: @user, videos: @user.videos %>
  </div>

</div>
