<%= render "users/useroptions", users: @users %>
<h1>settings coming soon</h1>
  <p>type of things visible on settings</p>
<ul>
  <li>type of plan</li>
  <li>number of videos included in plan</li>
  <li>theme (colour)</li>
  <li>ability to upgrade plan type</li>

</ul>
