<h1>Pages#home</h1>
<p>Video for Stuart @ GoCardless</p>

<div>
  <div class="wrapper">
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/fr-mwiyhZAo" frameborder="0"></iframe>
  </div>
  <div class="container">
    <img class="vid-img" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1664284233/board_copy_pqo2na.jpg">
    <div class="centered">Hi Stuart GoCardless//Macquarie</div>
  </div>
</div>
