<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="ytp-right-controls">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fr-mwiyhZAo" frameborder="0"></iframe>
  <div class="overlay">
    <p class="test-font">Hi Stuart GoCardless//Macquarie</p>
  </div>
</div>
