<div class="flex-wrap content-start" style="width:40%">

<%# <div class="flex-wrapper" style="display: flex; justify-content: center"> %>
    <div class="box red scroll-container overflow-auto" style="width: 100%; margin: 20px 20px;">
      <div style="display:flex; justify-content:space-between; margin: 10px 20px">
        <h3>Projects</h3>
            <%=link_to new_user_project_path(@user, @project) do %>
                <div class="flex justify-center items-center w-10 h-10 rounded-full bg-black">
                  <i class="fa-solid fa-plus text-white"></i>
                </div>
            <% end %>
      </div>

      <div class="flex flex-wrap content-start overflow-auto scroll-container" style="justify-content:space-between">
            <% @user.projects.each do |project| %>
            <%= link_to user_project_path(@user, project) do %>
              <div class="flex" style="flex-direction:column">


            </div>
            <% end %>
            <% end %>
      </div>



    </div>
<%# </div> %>
</div>
