<div class="flex">
  <div class="flex-left">
    <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1664557034/Screenshot_2022-09-29_at_23.04.59_kuyeux.png" alt=" Videx Logo" style="width:100%">
    <div class="list-group">
      <a href="terminals/videos" class="list-group-item list-group-item-action">Videos</a>
      <a href="#" class="list-group-item list-group-item-action">Generate</a>
      <a href="#" class="list-group-item list-group-item-action">Reports</a>
      <a href="#" class="list-group-item list-group-item-action">Tutorials</a>
      <a href="#" class="list-group-item list-group-item-action">Settings</a>
      <a href="#" class="list-group-item list-group-item-action">Account</a>
    </div>
  </div>

  <div>
    <p>column 2</p>
  </div>


</div>
