<%= render "users/useroptions", users: @users %>


<h1>Reports coming soon</h1>
<p>type of reports</p>
<ul>
  <li>total videos created</li>
  <li>total videos viewed</li>
  <li>video open rate</li>
  <li>meetings booked</li>
  <li>rank by prospect company (premium)</li>
  <li>rank by prospect industry (premium)</li>
  <li>rank by prospect position/persona (premium)</li>
</ul>
